.navbar {
    background: transparent;
}

.navbar ul li a, .navbar ul li a:hover,
.navbar ul li a.active {
    font-size: 16px;
    color: white !important;
    line-height: 30px;
    font-family: 'Input Mono', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

ul.navbar-nav {
    width: 100%;
    justify-content: space-between; /* space-between; */
    padding-left: 100px;
}

.navbar ul li .lol-btn.active {
    color: #000 !important;
}

.ml-lg-2 {
	margin-left: 2rem;
}

.container {
    max-width: 1300px;
    width: 90%;
}

.navbar-nav {
    width: 100% !important;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .navbar-toggler-icon {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
    .navbar ul li:last-child {
        margin-top: 10px;
    }
    .logo-img {
        width: 35%;
    }
    .ml-lg-2 {
        margin-left: 0rem;
    }
}