.drop-card-inner {
    position: relative;
}

.drop-card {
    margin-bottom: 25px;
}

.drop-card-img img {
    width: 100%;
}

.drop-card-inner p.drop-card-time {
    position: absolute;
    top: 30px;
    right: 30px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #EBEBEB;
    backdrop-filter: blur(20.7804px);
    border-radius: 1000px;
    font-family: 'Input Mono', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: lowercase;
    color: #FFFFFF;
    padding: 10px 20px;
}

.drop-card-meta {
    background: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(21.8014px);
    border-radius: 0px 0px 20px 20px;
    padding: 15px 25px;
    position: relative;
}

.eth-logo {
    width: 40px !important;
}

.drop-card-inner h5 {
    font-family: 'Input Mono', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 120%;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
}

.drop-card-inner .drop-card-meta p {
    font-family: 'Madera', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 120%;
    text-align: left;
    color: #FFFFFF;
}

.drop-card-meta .eth-price {
    display: inline-block;
    width: fit-content;
    font-family: 'Input Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.drop-card-meta .arrow-right {
    position: absolute;
    right: 25px;
    top: 23px;
    width: 60px;
}

.drop-single-category-cards {
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .drop-card-inner h5 {
        font-size: 18px;
        margin-top: 20px;
    }

    .drop-card-meta .eth-price {
        font-size: 18px;
    }
}